<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Cliente</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
</head>
<body>
    <h1>Cadastrar Novo Cliente</h1>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <form method="post" id="clienteForm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Salvar</button>
        <a href="{% url 'home' %}" class="button">Voltar</a>
    </form>

    <script>
        function voltar() {
            window.history.back();
        }
    </script>
</body>
</html>


