body {
    font-family: Arial, sans-serif;
    background-color: #76af78;
    color: #004d40;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border: #ffffff;
}

h1 {
    color: #004d40;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form p {
    width: 50%;
    margin-bottom: 0;
    
}

form label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    
}

form input[type="text"], form input[type="number"], form textarea {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #004d40;
    border-radius: 5px;
}

form textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #004d40;
    border-radius: 5px;
    resize: vertical;
}

form button {
    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background-color: #004d40;
}

.button {
    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.button:hover {
    background-color: #004d40;
}
