<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Editar Planta{% else %}Adicionar Nova Planta{% endif %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/editar.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>{% if form.instance.pk %}Editar Planta{% else %}Adicionar Nova Planta{% endif %}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Salvar</button>
            </form>
            <a href="{% url 'lista' %}" class="button">Voltar para lista</a>
        </div>
    </div>
</body>
</html>
