<!DOCTYPE html>
<html>
<head>
    <title>Lista de Pedidos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/lista_pedidos.css' %}">
</head>
<body>
    <h2>Lista de Pedidos</h2>
    <div class="container_pedidos">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Email</th>
                    <th>Data de Entrega</th>
                    <th>Plantas</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                    <tr>
                        <td>{{ pedido.id }}</td>
                        <td>{{ pedido.cliente }}</td>
                        <td>{{ pedido.email }}</td>
                        <td>{{ pedido.data_entrega }}</td>
                        <td>
                            {% for pedidoplanta in pedido.pedidoplanta_set.all %}
                                {{ pedidoplanta.planta.nome }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'pedido_novo' %}" class="button">Novo Pedido</a>
    </div>
</body>
</html>
